@model movieGEN.Models.ImdbEntity

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script>
    var imgUrl = '@Model.Poster';
</script>
<div class="w-100 p-3" style="height : 200px">
    <img src="@Html.DisplayFor(model => model.Poster)" style="width : 120% ; height : 100%; object-fit : cover ; margin-left : -10%; margin-top : -2%" />
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="@Html.DisplayFor(model => model.Poster)" class="img-thumbnail" />
        </div>
        <div class="col-sm-9">
            <h2><b>@Html.DisplayFor(model => model.Title)</b></h2>
            <p><i class="fas fa-star"></i>&nbsp;  @Html.DisplayFor(model => model.imdbRating)</p>
            <button type="button" class="btn btn-light"><b>ACHETER SUR EBAY</b> <i class="fab fa-ebay"></i></button>
            &nbsp;
            <button type="button" class="btn btn-light"><b>VOIR LA BANDE ANNONCE</b> <i class="fab fa-youtube"></i></button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align : left">Résumé</h2>
            <p>@Html.DisplayFor(model => model.Plot)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2 style="text-align : left">Casting</h2>
            <p>@Html.DisplayFor(model => model.Actors)</p>
        </div>
        <div class="col-sm-6">
            <h2 style="text-align : left">Équipe</h2>
            <p>@Html.DisplayFor(model => model.Writer)</p>
            <p> @Html.DisplayFor(model => model.Director) </p>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>
